
<div class="main-container">

    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../assets/img/seaTrasport.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/img/transporteCarga2.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/img/transporte-mercancias2.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
      </div>
      
      
</div>

<app-form></app-form>