<!-- Formulario de pago -->
<div class="backgraound">
  <form [formGroup]="paytmentForm" class="container mt-5 px-5">
    <div class="mb-4">
      <h2>Confirm order and pay</h2>
      <span
        >Feel confident with your payment, since we have an excellent
        security.</span
      >
    </div>

    <div class="row">
      <div class="col-md-8">
        <div class="card p-3">
          <h6 class="text-uppercase">Card Number</h6>
          <div class="inputbox mt-3">
            <input
              type="text"
              name="name"
              class="form-control"
              formControlName="cardName"
            />
            <span>Name on card</span>
          </div>

          <div class="row">
            <div class="col-md-4">
              <div class="inputbox mt-3 mr-2">
                <input
                  type="text"
                  name="name"
                  class="form-control"
                  formControlName="expoMonth"
                />
                <i class="fa fa-credit-card"></i> <span>Expiry Month</span>
              </div>
            </div>

            <div class="col-md-6">
              <div class="d-flex flex-row">
                <div class="inputbox mt-3 mr-2">
                  <input
                    type="text"
                    name="name"
                    class="form-control"
                    formControlName="expiry"
                  />
                  <span>Expiry Year</span>
                </div>

                <div class="inputbox mt-3 mr-2">
                  <input
                    type="text"
                    name="name"
                    class="form-control"
                    formControlName="cw"
                  />
                  <span>CW</span>
                </div>
              </div>
            </div>
          </div>

          <!-- <div class="mt-4 mb-4">
            <h6 class="text-uppercase">Billing Address</h6>

            <div class="row mt-3">
              <div class="col-md-6">
                <div class="inputbox mt-3 mr-2">
                  <input
                    type="text"
                    name="name"
                    class="form-control"
                    formControlName="streetAdress"
                  />
                  <span>Street Address</span>
                </div>
              </div>

              <div class="col-md-6">
                <div class="inputbox mt-3 mr-2">
                  <input
                    type="text"
                    name="name"
                    class="form-control"
                    formControlName="city"
                  />
                  <span>City</span>
                </div>
              </div>
            </div>

            <div class="row mt-2">
              <div class="col-md-6">
                <div class="inputbox mt-3 mr-2">
                  <input
                    type="text"
                    name="name"
                    class="form-control"
                    formControlName="state"
                  />
                  <span>State/Province</span>
                </div>
              </div>

              <div class="col-md-6">
                <div class="inputbox mt-3 mr-2">
                  <input
                    type="text"
                    name="name"
                    class="form-control"
                    formControlName="zip"
                  />
                  <span>Zip code</span>
                </div>
              </div>
            </div>
          </div> -->
        </div>

        <div class="mt-4 mb-4 d-flex justify-content-between">
          <span>Previous step</span>

          <button class="btn btn-success px-3" (click)="(sendPayment)">
            Pay ${{ paid | number }}
          </button>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card card-blue p-3 text-white mb-3">
          <span>You have to pay</span>
          <div class="d-flex flex-row align-items-end mb-3">
            <h1 class="mb-0 yellow">${{ paid | number }}</h1>
          </div>

          <span>Your payment will be reflected in your Advent account</span>
          <a href="#" class="yellow decoration">Know all the features</a>

          <div class="hightlight">
            <span>Contact your agent right now</span>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
